.required-symbol {
    color: #b71c1c;
}

label {
    font-size: 1rem;
    color: black;
    font-weight: bold;
}

textarea {
    width: 100%;
    min-height: 5em;
    resize: vertical;
}

h1 {
    color: #b71c1c;
}

h2 {
    font-size: 1.3rem;
    color: #b71c1c;
}

.form-div {
    margin-bottom: 30px;
}

.text-input {
    margin-top: 10px !important;
    border: 1px solid black !important;
}

.info{
    text-align: right;
    font-size: 0.8rem;
    margin-bottom: 10px;
}

.grid-item {
    background: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 100%;
}

.grid-item img {
    max-width: 80%;
    height: auto;
    margin-top: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 20px;
}

input:focus, textarea:focus {
    border: 2px solid black !important;
    box-shadow: none !important;
}

input.valid, input.invalid, textarea.valid, textarea.invalid {
    border: 2px solid black !important;
    box-shadow: none !important;
}