<footer class="page-footer red darken-4 noPadding" style="padding-top:0">
    <div class="footer-copyright noPadding" style="height: 40px">
      <div class="container footer-container grey-text text-lighten-4">
        © 2025 SafetyNet
        <ul>
          <li>
            <a routerLink="/help-site" title="Go to help site">Kontakt</a>  | 
          </li>
          <li>
            <a href="#">Impressum</a>  | 
          </li>
          <li>
            <a href="#">Datenschutz</a>  | 
          </li>
          <li>
            <a class="grey-text text-lighten-4 right" href="https://www.bmi.gv.at/" title="Go to Bundesministerium Inneres" target="_blank">Bundesministerium Inneres</a>
          </li>
        </ul>
      </div>
    </div>
</footer>
