<div class="container">
  <h3 class="center-align">Learning Quiz</h3>

  <div class="row">
    <div class="col s12">
      <ng-container *ngIf="questions[currentQuestionIndex] as currentQuestion">
        <app-question
          class="card"
          [question]="(currentQuestionIndex + 1) + '. ' + currentQuestion.question"
          [answers]="currentQuestion.answers"
          [correctAnswer]="currentQuestion.correctAnswer"
          [feedback]="currentQuestion.feedback"
          [isSelfCheck]="false"
          (answerSelected)="onAnswerSelected(currentQuestion.question, $event)">
        </app-question>
      </ng-container>
    </div>
  </div>
</div>
