<main>
  <div class="container">
    <h3 class="center-align">Learning Quiz</h3>

    <div class="row">
      <div class="col s12">
        <ng-container *ngIf="questions[currentQuestionIndex] as currentQuestion">
          <app-question class="card" [question]="(currentQuestionIndex + 1) + '. ' + currentQuestion.question"
            [answers]="currentQuestion.answers" [correctAnswer]="currentQuestion.correctAnswer"
            [feedback]="currentQuestion.feedback" (selectedAnswerChange)="onSelectedAnswerChange($event)" (answerSelected)="onAnswerSelected(currentQuestion.question, $event)">
          </app-question>
        </ng-container>
      </div>
    </div>


    <div *ngIf="showFeedback" class="row">
      <div class="col s12 m8 offset-m2">
        <div class="card-panel grey darken-1 white-text center-align">
          <h4>{{ getMessage() }}</h4>
          <button class="btn waves-effect waves-light white black-text" (click)="restartQuiz()">Neustart</button>
        </div>
      </div>
    </div>
  </div>
</main>
