<main>
    <div class="light-container">
        <div class="container">
    
            <div class="card-panel white z-depth-0 custom-box">
                <p>PlaceHolder <span class="bold-text">Extra INFO :)</span></p>
                
            </div>
        </div>
    </div>
    <div class="dark-container">
        <div class="container">
            <div class="card-panel white z-depth-0 custom-box">
                <p>Meldung wird gesendet an: <span class="bold-text">Test</span></p>
            </div>
    
            <div class="card-panel white z-depth-0  custom-box">
                <p>Meldung wird gesendet an: <span class="bold-text">Test</span></p>
            </div>
        </div>
    </div>
<main>