h2 {
  font-size: 1.3rem;
  color: #b71c1c;
  margin-top: 1rem;
}

.story-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.choices-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.choice {
  align-items: center;
  text-align: center;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: block;
}

.choice.selected {
  background-color: #e6c8c8;
  border-color: #7d2e43;
}

.choice input {
  margin-right: 10px;
}

.choice-text {
  font-weight: bold;
}

.confirm-btn, .restart-btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #800013;
  color: white;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.confirm-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.confirm-btn:hover:not(:disabled), .restart-btn:hover {
  background-color: #690000;
}

.radicalization-scale {
  text-align: center;
  margin-bottom: 20px;
}

.scale {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  max-width: 500px;
  margin: auto;
}

.left-label, .right-label {
  font-size: 14px;
  font-weight: bold;
  width: 40px;
  text-align: center;
}

.progress-container {
  position: relative;
  width: 100%;
  max-width: 400px;
  height: 15px;
  background: lightgray;
  border-radius: 10px;
  margin: auto;
  overflow: hidden;
}

.progress-bar {
  position: absolute;
  top: 0;
  bottom: 0;
  border-radius: 10px;
  transition:
    left 0.5s ease-in-out,
    width 0.5s ease-in-out,
    background-color 0.5s ease-in-out;
}

.story-image {
  display: block;
  margin: 0 auto 20px;
  max-width: 300px; /* Bild wird maximal 300px breit */
  width: 100%;
  height: auto;
}

