<nav>
  <!-- Linkes Logo -->
  <a routerLink="/start-page" class="logo-container">
      <img src="assets/SafetyNet_Logo.jpeg" class="logo" title="SafetyNet Logo" alt="Logo: SafetyNet">
  </a>

  <!-- Navigation mittig -->
  <ul id="nav-mobile">
      <li><a routerLink="/interactive-story" title="Interactive story">Interaktive Geschichte</a></li>
      <li><a routerLink="/learning-quiz" title="Learning Quiz">Wissenstest</a></li>
      <li><a routerLink="/self-check" title="Self test">Selbstcheck</a></li>
      <li><a routerLink="/extra-info" title="Extra info">Zusätzliche Infos</a></li>
      <li><a routerLink="/help-site" title="Go to help site">Hilfseite</a></li>
  </ul>

  <!-- Rechtes Logo -->
  <a href="https://www.bmi.gv.at/" title="Go to Bundesministerium Inneres" target="_blank" class="logo-container">
      <img src="assets/BMI_Logo_2018.jpg" class="logo" title="BMI Logo" alt="Logo: Bundesministerium Inneres">
  </a>
</nav>
