<nav>
    <!-- left logo -->
    <a routerLink="/start-page" class="logo-container">
        <img src="assets/SafetyNet_Logo.jpeg" class="logo" title="SafetyNet Logo" alt="Logo: SafetyNet">
    </a>

    <!-- burger menu for mobile view -->
    <a href="#" data-target="mobile-demo" class="sidenav-trigger">
        <i class="material-icons burger">menu</i>
    </a>

    <!-- navigation for normal big screens -->
    <ul id="nav-mobile" class="hide-on-med-and-down">
        <li><a routerLink="/interactive-story">Interaktive Geschichte</a></li>
        <li><a routerLink="/learning-quiz">Wissenstest</a></li>
        <li><a routerLink="/self-check">Selbstcheck</a></li>
        <li><a routerLink="/extra-info">Zusätzliche Infos</a></li>
        <li><a routerLink="/help-site">Hilfeseite</a></li>
    </ul>

    <!-- right logo (only on desktop) -->
    <a href="https://www.bmi.gv.at/" target="_blank" class="logo-container hide-on-med-and-down">
        <img src="assets/BMI_Logo_2018.jpg" class="logo" title="BMI Logo" alt="Logo: Bundesministerium Inneres">
    </a>
</nav>

<!-- sidenav for mobile -->
<ul class="sidenav" id="mobile-demo">
    <li style="margin-top: 60px;"><a routerLink="/start-page">Startseite</a></li>
    <li><a routerLink="/interactive-story">Interaktive Geschichte</a></li>
    <li><a routerLink="/learning-quiz">Wissenstest</a></li>
    <li><a routerLink="/self-check">Selbstcheck</a></li>
    <li><a routerLink="/extra-info">Zusätzliche Infos</a></li>
    <li><a routerLink="/help-site">Hilfeseite</a></li>
</ul>
