<main>
    <div style="padding-top: 24px;" class="light-container">
        <div class="container">
            <div class="row valign-wrapper">
                <div class="col s12 m8">
                    <h1>Safety Net</h1>
                    <p>
                        Safety Net ist eine sichere, anonyme Plattform, die Menschen die Möglichkeit bietet, 
                        Verdachtsfälle von radikalem Gedankengut oder gefährlichem Verhalten zu melden. 
                        Unser Ziel ist es, frühzeitig auf potenzielle Gefährdungen hinzuweisen, um eine Eskalation 
                        zu verhindern und somit die Verbreitung von Hass und Gewalt in unserer Gesellschaft zu stoppen.
                    </p>
                </div>
                <div class="col s12 m4 center-align">
                    <a href="help-site" target="_blank">
                        <img style="width:50%;" src="assets/callSymbol.png" alt="Safety Net Symbol" class="responsive-img circle">
                    </a>
                    <p class="red-text text-darken-4">Help Seite</p>
                </div>
            </div>
        </div>
    </div>
    <div class="dark-container">
        <div class="container">
            <div class="card-panel white z-depth-0 custom-box">
                <p style="font-weight: bold;">Was ist Safety-Net?</p>
                <p>Safety Net ist eine sichere, anonyme Plattform, die Menschen die Möglichkeit bietet, Verdachtsfälle von radikalem Gedankengut oder gefährlichem Verhalten zu melden. Unser Ziel ist es, frühzeitig auf potenzielle Gefährdungen hinzuweisen, um eine Eskalation zu verhindern und somit die Verbreitung von Hass und Gewalt in unserer Gesellschaft zu stoppen. </p>
            </div>
    
            <div class="card-panel white z-depth-0  custom-box">
                <p style="font-weight: bold;">Wie funktioniert es?</p>
                <ul class="browser-default">
                    <li>Anonymität und Sicherheit: Die Plattform bietet volle Anonymität für alle Meldungen. Wir stellen sicher, dass keine persönlichen Daten erfasst werden, um die Privatsphäre der Nutzer zu schützen.</li>
                    <li>Einfache Nutzung: Jeder, der Verdacht auf extremistische oder rechtsradikale Verhaltensweisen hat – sei es im privaten Umfeld, im Job oder in der Öffentlichkeit – kann schnell und unkompliziert eine Meldung machen.</li>
                    <li>Verantwortungsvolle Kommunikation: Wir arbeiten mit Fachleuten und Behörden zusammen, um Meldungen verantwortungsbewusst zu überprüfen und auf den richtigen Weg zu bringen. Unser Ziel ist es nicht, unbegründete Anschuldigungen zu fördern, sondern eine informierte, sachliche Auseinandersetzung zu ermöglichen.</li>
                </ul>
            </div>
        </div>
    </div>
<main>