/* You can add global styles to this file, and also import other style files */

/* Selector */
main {
    flex: 1 0 auto;
    padding: 1% 2%;
}

h1 {
    margin-top: 0;
    font-size: 200%;
}

footer a {
    color: white;
}

footer a:hover {
    text-decoration: underline;
}

/* Structure, IDs */


/* Classes */
.clear {
    clear: both;
}

.center {
    display: flex !important;
    justify-content: center !important;
}

.highlight a:hover {
    background-color: #00acc1 !important;
}